body {
  font-family: "Comfortaa", cursive;
}
.container-fluid {
  display: inline;
}
.container-fluid .row img {
  width: 800px;
  float: left;
  margin: 30px;
  border-radius: 25px;
  box-shadow: 10px 10px 5px grey;
}
.container-fluid div p {
  font-size: 25px;
  text-align: center;
  padding: 12px;
}
li {
  font-size: 20px;
}
h2,
h3,
h5 {
  text-decoration: underline;
  text-align: center;
}
.block {
  background-color: #39c5c6;
}
.price {
  border: 3px solid;
  margin: 20px 60px 20px 60px;
  background-color: #39c5c6;
  text-align: center;
  border-radius: 25px;
}
.book {
  text-align: center;
  font: size 40px;
}
.nav1 {
  background-color: #456abaec;
  color: white;
  padding: 1rem;
  width: 100%;
  height: 60px;
}
.logo1 {
  color: white;
  height: 50px;
}
.identity {
  float: left;
  display: flex;
}
.identity p {
  font-size: 25px;
}
.nav1 ul li {
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  transition: all 0.5s ease;
}
.head1 {
  text-align: center;
}
.head2 {
  text-align: center;
}
.nav1 ul li:hover {
  background-color: rgba(255, 255, 255, 0.349);
  color: black;
  box-shadow: 0 0 10px white;
  border-bottom: 10px;
}
header a {
  color: white;
}
.clear {
  clear: both;
}
nav ul {
  float: right;
  list-style: none;
}
nav li {
  float: left;
  margin: 0rem 2rem;
}
h2{
  background-color: #39c5c6;
  height: 140px;
  text-align: center;
  color:#456abaec;
  font-size: 50px;
}

.feature {
  font-size: 20px;
  padding: 50px;
}
.inner {
  background: rgba(0, 0, 0, 0.897);
  color: rgba(255, 255, 255, 0.836);
  text-align: center;
}
.logos {
  word-spacing: 90px;
}

