


body {
    margin: 0;

}
#home {
    background-image: url("/images/home1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5%;
    background-color: rgba(0, 0, 0, 0.541);
    background-blend-mode: soft-light;
}
.intro {
    font-family: 'Style Script', cursive; 
    font-size: 60px;
    font-weight: bold;
   color: white;
   padding-top: 7%;
}
.lan {
    font-family: 'Style Script', tangerine;
    font-size: 35px;
    color: white;
}
.nxt {
    width: 8%;
    height: 30px;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.583);
    color: white;
    border-radius: 5%;
}
.btn1:hover {
    cursor: pointer;
    opacity: 0.7;
}
.nav1 {
    background-color: #456abaec;
    color: white;
    padding: 1rem;

    width: 97%;
    height: 40px;
    overflow: hidden;
}
.logo1 {
    color: white;
    height: 50px;
}
.identity {
    float: left;
    display: flex;
}
.identity p {
    font-size: 25px;

}
.nav1 ul li {
 text-decoration: none;
 color: white;
 padding: 5px 20px;
 transition: all .5s ease;
 font-size: 18px;
}
.head1 {
    text-align: center;
    font-size: 30px;
}
.head2 {
    text-align: center;
    font-size: 30px;
    padding-left: 350px;
    
}
.aboutimg {
    background-blend-mode: hard-light;
    width: 400px;
    height: 232px;
    float: left;
    margin: 10px;
    
}
body {
    font-size: 25px;
    font-family: "Comfortaa", cursive;
    
}
.head2 {
    text-align: center;
    padding-right: 450px;
    font-size: 30px;


}
.nav1 ul li:hover {
    background-color: rgba(255, 255, 255, 0.349);
    color: black;
    box-shadow: 0 0 10px white;
    border-bottom: 10px;
}
a {
    color: white;
}
.clear {
    clear: both;
}
nav ul {
    float: right;
    list-style: none;
}
nav li {
    float: left;
    margin: 0rem 2rem;
}
#countries {
    background-color: #39c5c6;
    width: 1200px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#countries .box {
    position: relative;
    width: 330px;
    height: 300px;
    background: #ff0;
    margin: 30px;
    box-sizing: border-box;
    display: inline-block;
}
#countries .box .imgBox {
    position: relative;
}
#countries .box .imgBox img {
    width: 100%;
    height: 330px;
    transition: transform 2s;
}
#countries .box:hover .imgBox img {
transform: scale(1.1);
}
#countries .box .details {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.8);
    transform: scaleY(0);
    transition: transform .5s;
}
#countries .box:hover .details {
    transform: scaleY(1);
}
#countries .box .details .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 40%;
    color: #fff;
    font-size: 25px;
}
#countries .box2 {
    position: relative;
    width: 530px;
    height: 300px;
    background: #ff0;
    margin: 30px;
    box-sizing: border-box;
    display: inline-block;
}
#countries .box2 .imgBox {
    position: relative;
}
#countries .box2 .imgBox img {
    width: 100%;
    height: 330px;
    transition: transform 2s;
}
#countries .box2:hover .imgBox img {
transform: scale(1.1);
}
#countries .box2 .details {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.8);
    transform: scaleY(0);
    transition: transform .5s;
}
#countries .box2:hover .details {
    transform: scaleY(1);
}
#countries .box2 .details .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 45%;
    color: #fff;
    font-size: 25px;
}
#form_container {
    text-align: center;
    background: url("/images/contact.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.541);
    background-blend-mode: soft-light;

    height: 490px;
    width: 100%;
    color: white;
}
#form_container p {
    font-size: 20px;
}
#message {
    background: transparent;
    width: 35%;
    height: 180px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.89);
}
.conthead {
    color: white;
    font-size: 30px;
    text-align: center;
}
#reused_form input {
    width: 120%;
    margin: 30px 0 30px;
    height: 40px;
    position: relative;
    background: transparent;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.89);
    box-shadow: none;
    font-size: 18px;
     
}
#reused_form input#lname {
    margin-left: 100%;
}
#reused_form label {
    display: block;
    transition: 0.5s;
    border-radius: 2px;
    font-weight: bold;
    font-size: 20px;
}
#combo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    padding-left: 300px;
}
#maincont input {
    width: 80%;
    margin: 30px 0 30px;
    height: 0px;
    position: relative;
    background: transparent;
    color: rgba(255, 255, 255, 0.849);
    background-color: rgba(0, 0, 0, 0.486);
    box-shadow: none;
    text-align: center;
    font-size: 18px;
}

#sendbtn {
    height: 10%;
    padding: 5px;
    width: 7%;
   font-size: 15px;
    position: relative;
    color: whitesmoke;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.521);
    
}
.feature {
    font-size: 20px;
    padding: 50px;
}
.inner {
    background: rgba(0, 0, 0, 0.897);
    color: rgba(255, 255, 255, 0.836);
    text-align: center;
    
}
.logos {
  word-spacing: 90px; 

}
